@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.embla {
  overflow: hidden;
  width: 50%;
}
@media (max-width: 767px) {
  .embla {
    display: none; /* Hide the element on small screens */
  }
}
.embla__container {
  display: flex;
  height: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}